<div class="features">
	<div class="heading">
			<h2>Features</h2>
			<p>Here are Virtual Study Buddy features
			</p>
		</div>
		<%# Cards %>
	<div class="cards">
		
    <a href="/ar">
		<div class="card">
			<img 
      src="https://cdn.discordapp.com/attachments/855502727358447616/873581643733020742/illustration-augmented-reality-virtual-reality-computer-icons-scalable-vector-graphics-png-favpng-Ke.jpg" alt="">
      <h3>Augmented Reality Learning</h3>
			<p>Several students will not be able to understand the lessons by only reading the books. So, here comes AR learning. Using it will make the students understand the concepts in a better way.</p>
      
		</div></a>
		
    <a href="/cam">
		<div class="card">
			<img 
      src="https://cdn.discordapp.com/attachments/855502727358447616/873581073118924911/png-transparent-graphy-logo-graphic-design-camera-lens-camera-lens-photography-logo.png" alt="">
			<h3>Emotion Camera</h3>
			<p>This feature helps teachers a lot, they can identify the mood of the students and teach the class according to it. In this pandemic situation, most of our way of living changes, we feel stressed, demotivated, etc. So, using this, teachers can understand the mood of the students better.</p>

 
		</div></a>
		

    <a href="/ttslearning">
		<div class="card">
			<img src="https://cdn.discordapp.com/attachments/855502727358447616/873582364310245426/kisspng-watson-ibm-speech-synthesis-text-computer-software-5af84b1a743a67.3358836715262215944761.jpg" alt="">
			<h3>Text-to-Speech Learning</h3>
			<p>This feature helps the students who have reading disabilities. By using this feature, students will be able to listen to the notes which makes learning easier for them.</p> 
      
		</div> </a>

    <a href="/ttslearning">
		<div class="card">
			<img src="https://cdn.discordapp.com/attachments/855502727358447616/873583771415359508/speech-recognition-2082790-1750221.png" width="60" 
     height="80">
			<h3>Speech-to-Text Learning</h3>
			<p>This feature helps the students who have writing disabilities and poor communication skills. Using this feature, students will be able to speak to the computer. It will automatically writes the notes which makes students’ life easier.</p>
		</div></a>
	</div>
</div>