<section class="hero">
		<%# Hero Content %>
		<span class="heroWrap">
			<article>
				<h1>
        <span	class="headerSecondaryText">Virtual Study Buddy</span>
        </h1>
				<p>Virtual Study Buddy is a website that ensures to make the online classes easy and effective for the students. We even have a special feature for teachers that detects the mood of the students to help the teachers teach accordingly. This can also be used by students who have learning disabilites as it has interesting features. We also have AR which helps the children to connect more to the subject concepts. </p>

			</article>
			<%# Absolute SVG that is displayed on page %>
		<img class="art" src="/media/art.png" width="500" height= "500">
		</span>
</section>